<h1>Editing task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Show this task", user_role_team_task_url(@task.team.role.user, @task.team.role, @task.team, @task) %> |
  <%= link_to "Back to tasks", :back %>
</div>
