<h1 align="center">New User</h1>
<div class="container text-center">
<div class="row">
    <div class="col">
     <%= render "form", user: @user %>
    </div>
    <div class="col">
      <%= link_to "Back", user_index_path,class: "btn btn-warning"%>
    </div>
  </div>
</div>