<p style="color: green"><%= notice %></p>

<%= render @role %>

<div class="card">
  <%= link_to "Edit this role", edit_user_role_path(@role),class:"btn btn-success"%>
  <%= link_to "Back to roles", :back,class:"btn btn-warning"%>

  <!--%= button_to "Destroy this role", @role, method: :delete %-->
</div>
